<!DOCTYPE html>Add commentMore actions
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
</head>
<body>
    <h1>Tạo mã QR Tùy Chỉnh</h1>
    <form action="/" method="POST">
        <label for="data">Nhập link:</label>
        <input type="text" id="data" name="data" placeholder="Nhập link" required><br><br>

        <label for="name">Nhập tên:</label>
        <input type="text" id="name" name="name" placeholder="Nhập tên hiển thị" required><br><br>

        <label for="border_color">Màu nền:</label>
        <input type="text" id="border_color" name="border_color" placeholder="white, pink, #RRGGBB" required><br><br>

        <label for="text_color">Màu chữ:</label>
        <input type="text" id="text_color" name="text_color" placeholder="black, blue, #RRGGBB" required><br><br>

        <button type="submit">Tạo mã QR</button>
    </form>
</body>
</html>
